<div id="content-wrapper" [@routerTransition] class="d-flex flex-column">

  <div id="content">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
      <button routerLink='/dashboard' class="btn btn-link">
        <i class="fa fa-chevron-left"></i>
      </button>
      <img src="assets/img/logo-header.png" class="brand_logo" alt="Logo" style="height: 40px;width: 100px;">&nbsp;&nbsp;
      <h6>{{title}}</h6>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow">
          <button (click)="exit()" id="sidebarToggleTop" class="btn btn-link">
            <i class="fa fa-sign-out"></i>
          </button>
        </li>

      </ul>
    </nav>

    <div class="container-fluid scrollDiv">

      <div class="row">
        <div class="col-12 border-right-bottom">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text fa fa-search" id="basic-addon2"></span>
            </div>
            <input type="text" class="form-control" name="search" [(ngModel)]="searchByHAWBNo" autocomplete="off"
              placeholder='Search'>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 cardMargin" *ngFor="let item of HAWBListobj | filter:searchByHAWBNo; index as i;">
          <div class=" card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <table class="table">
                <tr class="receivedClass">
                  <th>
                    Status
                  </th>
                  <th>
                    Flight Lands In
                  </th>
                </tr>
                <tr class="receivedClass">
                  <td style="width: 50%" >
                    {{item.Status}}
                  </td>
                  <td>
                    {{item.HouseDate}}
                  </td>
                </tr>

                <tr>
                  <th>
                    HAWB No.
                  </th>
                  <th>
                    Origin - Des
                  </th>
                </tr>
                <tr>
                  <td>
                    {{item.HouseNo}}

                  </td>
                  <td>
                    <i class="fa fa-plane"></i> {{item.Origin}}-{{item.Destination}}
                  </td>
                </tr>
<!--
                <tr>
                  <th>
                    Carrier
                  </th>
                  <th>
                    Flight ETA
                  </th>
                </tr>
                <tr>
                  <td>
                    Lufthansa
                  </td>
                  <td>
                    21 - 04 - 2020, 21:40
                  </td>
                </tr> -->
                <tr>
                  <th>
                    NOP & Gr. Wt.
                  </th>
                  <th>
                    Total No. of Invoices
                  </th>
                  <!-- <th>
                    BU
                    <i (click)="goAssignToCostomBroker();" style="float: right;font-size: xx-large;color: #ec6702;"
                      class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                  </th> -->
                </tr>
                <tr>
                  <td *ngIf="item.UCRList != null">
                    {{item.UCRList[0].Quantity }} PKGS {{item.UCRList[0].GrossWeight }}
                  </td>
                  <td>
                    {{item.UCRCount}}
                  </td>

                </tr>
                <tr>
                  <!-- <th>
                    Recd. No. of Invoices
                  </th> -->

                </tr>
                <tr>
                  <!-- <td>
                    {{item.UCRList[0].InvoiceNumber}}
                  </td> -->

                </tr>
                <tr>
                  <th>
                    Customs Broker
                  </th>
                  <!-- <th>
                    CB Branch
                  </th> -->
                </tr>
                <tr>
                  <td>
                    {{item.CustomBrokerName}}
                  </td>
                  <!-- <td>
                    BOM - Mumbai
                  </td> -->
                </tr>
                <!-- <tr>
                  <th>
                    Freight Forwarder
                  </th>
                  <td>
                    {{item.FreightForwarderName}}
                  </td>

                </tr> -->
                <!-- <tr>
                  <td>
                    {{item.FreightForwarderName}}
                  </td>
                </tr> -->


                <tr>
                  <td >

                    <button [disabled]="item.CustomsBrokerBranchId > 0" class="btn btnClassSep" (click)="gocbdetail(item.HAWBId,item.HouseNo,item.BEType);" style="margin-right: 10px;;">Assign
                      CB</button>
                  </td>

                  <td>
                    <button [hidden]="!isButtonHide" class="btn btnClassSep" (click)="goccdetail(item.HAWBId,item.BEType);">Assign CC</button>
                  </td>
                </tr>


                <!--
                <div class="col-12 cardMargin" style="position: fixed;bottom: 0px; ">
                  <div class=" card  shadow h-100 py-2">
                    <div class="card-body">
                      <a class="btn btnClass btn-sm " (click)="gocbdetail();" style="margin-right: 10px;;">Assign
                        CB</a>
                      <a class="btn btnClass btn-sm " (click)="goccdetail();">Assign Cost Center</a>
                    </div>
                  </div>
                </div> -->

              </table>
            </div>
          </div>
        </div>



        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="small" color="#fff" type="square-jelly-box" [fullScreen]="true">
          <p style="color: white"> Loading... </p>
        </ngx-spinner>

      </div>


    </div>
  </div>
</div>
