<div id="content-wrapper" [@routerTransition] class="d-flex flex-column">

  <div id="content">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
      <button routerLink='/customsbrokerlist' class="btn btn-link">
        <i class="fa fa-chevron-left"></i>
      </button>
      <h6>Custom Broker Details</h6>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow">
          <button id="sidebarToggleTop" class="btn btn-link">
            <i class="fa fa-sign-out"></i>
          </button>
        </li>

      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class=" card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <table class="table">
                <tr class="receivedClass">
                  <th>
                    Status
                  </th>
                  <th>
                    Flight Lands In
                  </th>
                </tr>
                <tr class="receivedClass">
                  <td>
                    Flight Departed
                  </td>
                  <td>
                    6:30 Hrs
                  </td>
                </tr>

                <tr>
                  <th>
                    HAWB No.
                  </th>
                  <th>
                    Origin - Des
                  </th>
                </tr>
                <tr>
                  <td>
                    FRA12345678

                  </td>
                  <td>
                    <i class="fa fa-plane"></i> FRA - BOM
                  </td>
                </tr>

                <tr>
                  <th>
                    Carrier
                  </th>
                  <th>
                    Flight ETA
                  </th>
                </tr>
                <tr>
                  <td>
                    Lufthansa
                  </td>
                  <td>
                    21 - 04 - 2020, 21:40
                  </td>
                </tr>
                <tr>
                  <th>
                    NOP & Gr. Wt.
                  </th>
                  <th>
                    BU
                  </th>
                </tr>
                <tr>
                  <td>
                    12 PKGS, 563.75 KGS
                  </td>
                  <td>
                    HC DI
                  </td>
                </tr>
                <tr>
                  <th>
                    Recd. No. of Invoices
                  </th>
                  <th>
                    Total No. of Invoices
                  </th>
                </tr>
                <tr>
                  <td>
                    3
                  </td>
                  <td>
                    4
                  </td>
                </tr>
                <tr>
                  <th>
                    Customs Broker
                  </th>
                  <th>
                    CB Branch
                  </th>
                </tr>
                <tr>
                  <td>
                    Khimji Poonja
                  </td>
                  <td>
                    BOM - Mumbai
                  </td>
                </tr>
                <tr>
                  <th>
                    Freight Forwarder
                  </th>
                  <th>
                    Buyer Details
                  </th>

                </tr>
                <tr>
                  <td>
                    (value))
                  </td>
                  <td>
                    Fortis Hospital,<br> Rajlaxmi Park,<br> Nashik, Maharashtra, India
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="col-6 cardMargin">
          <a  class=" btnClass btn-sm " >Select CB</a>
        </div>
        <div class="col-6 cardMargin">
          <a href="#" class="pull-right commonColor" >Download &nbsp;&nbsp;&nbsp;<i
              style="float: right;font-size: x-large;color: #ec6702;margin-right: 15px;;" class="fa fa-download"></i>
          </a>
        </div>



        <div class="col-12  cardMargin">
          <div class=" card  shadow h-100 py-2">
            <div class="card-body">
              <table class="table table-bordered text-nowrap">
                <tr class="chkllog">
                  <th>
                    Customs Broker
                  </th>
                  <th>
                    Branch
                  </th>
                  <th>

                  </th>
                </tr>
                <tr>
                  <td>Khimji Poonja</td>
                  <td>Mumbai Air</td>
                  <td><i class="fa fa-trash-o commonColor"></i></td>
                </tr>

              </table>
            </div>
          </div>
        </div>

        <div class="col-12 cardMargin">
          <div class=" card  shadow h-100 py-2">
            <div class="card-body">
              <a  class="btn btn btn-sm btndecl"  style="margin-right: 10px;;">Cancel
                </a>
              <a  class="btn btnClass btn-sm " >Assign Job to CB</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
